<figure><img src="/src/images/logo.svg" alt="Clipboard Logo" /></figure>
<nav class="footer__links">
  <ul class="group one">
    <li><a href="#faqs">FAQs</a></li>
    <li><a href="#contact-us">Contact Us</a></li>
  </ul>
  <ul class="group two">
    <li><a href="#privacy-policy">Privacy Policy</a></li>
    <li><a href="#press-kit">Press Kit</a></li>
  </ul>
  <ul class="group three">
    <li><a href="#install-guide">Install Guide</a></li>
  </ul>
  <ul class="group social-icons">
    <li>
      <a href="#facebook" aria-label="facebook"
        ><i class="fa-brands fa-facebook-square"></i
      ></a>
    </li>
    <li>
      <a href="#twitter" aria-label="twitter"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </li>
    <li>
      <a href="#instagram" aria-label="instagram"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
  </ul>
</nav>
