<div class="features">
  <section class="track strong">
    <h2>Keep track of your snippets</h2>
    <p>
      Clipboard instantly stores any item you copy in the cloud, meaning you can
      access your snippets immediately on all your devices. Our Mac and iOS apps
      will help you organize everything.
    </p>
  </section>
  <div class="misc">
    <figure>
      <img src="/src/images/image-computer.png" alt="A computer with a popup" />
    </figure>
    <div class="wrapper">
      <section class="quick small">
        <h3>Quick Search</h3>
        <p>
          Easily search your snippets by content, category, web address,
          application, and more.
        </p>
      </section>
      <section class="sync small">
        <h3>iCloud Sync</h3>
        <p>Instantly saves and syncs snippets across all your devices.</p>
      </section>
      <section class="history small">
        <h3>Complete History</h3>
        <p>
          Retrieve any snippets from the first moment you started using the app.
        </p>
      </section>
    </div>
  </div>
  <section class="access strong">
    <h2>Access Clipboard anywhere</h2>
    <p>
      Whether you’re on the go, or at your computer, you can access all your
      Clipboard snippets in a few simple clicks.
    </p>
  </section>
  <figure>
    <img
      src="/src/images/image-devices.png"
      alt="Phone and tablet side by side"
    />
  </figure>
  <section class="supercharge strong">
    <h2>Supercharge your workflow</h2>
    <p>We’ve got the tools to boost your productivity.</p>
  </section>
</div>
