<div class="do">
  <section class="w-icon small">
    <figure>
      <img
        src="/src/images/icon-blacklist.svg"
        alt="blacklist icon"
        aria-hidden="true"
      />
    </figure>
    <h3>Create blacklists</h3>
    <p>
      Ensure sensitive information never makes its way to your clipboard by
      excluding certain sources.
    </p>
  </section>
  <section class="w-icon small">
    <figure>
      <img src="/src/images/icon-text.svg" alt="text icon" aria-hidden="true" />
    </figure>
    <h3>Plain text snippets</h3>
    <p>Remove unwanted formatting from copied text for a consistent look.</p>
  </section>
  <section class="w-icon small">
    <figure>
      <img
        src="/src/images/icon-preview.svg"
        alt="preview icon"
        aria-hidden="true"
      />
    </figure>
    <h3>Sneak preview</h3>
    <p>Quick preview of all snippets on your Clipboard for easy access.</p>
  </section>
</div>
